/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #190621 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c0c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c0c7; background-color: rgba(170,19,73,0.4)}
.cm-s-nqqwal { background-color: #190621; color: #c5c0c7; }
.cm-s-nqqwal span.cm-builtin { color: #945aa7; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #524458; }
.cm-s-nqqwal span.cm-keyword { color: #a6249d; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #b14185; }
.cm-s-nqqwal span.cm-def { color: #ac1f6a; }
.cm-s-nqqwal span.cm-variable { color: #aa1349; }
.cm-s-nqqwal span.cm-variable-2 { color: #ac1f6a; }
.cm-s-nqqwal span.cm-string { color: #945aa7; }
.cm-s-nqqwal span.cm-string-2 { color: #945aa7; }
.cm-s-nqqwal span.cm-number { color: #ac1f6a; }
.cm-s-nqqwal span.cm-tag { color: #a6249d; }
.cm-s-nqqwal span.cm-property { color: #aa1349; }
.cm-s-nqqwal span.cm-attribute { color: #aa1349; }
.cm-s-nqqwal span.cm-qualifier { color: #b14185; }
.cm-s-nqqwal span.cm-meta { color: #ac1f6a; }
.cm-s-nqqwal span.cm-header { color: #a6249d; }
.cm-s-nqqwal span.cm-operator { color: #a6249d; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(172,31,106,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #a6249d; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #190621); }
